<div>
  <div class="wrapper">
    <div class="column">
        <h1>Start</h1>
        <button (click)="createNote(CONST.START)">Add</button>
        <div class="lane" dragula="DRAGULA_FACTS" [dragulaModel]="notes.start">
          <div class="note" *ngFor="let note of notes.start">
              <button>+</button>
              <span class="vote-count">{{note.votes.length}}</span>
              <h4 *ngIf="!note.isTitleEdit" (dblclick)="editTitle(note)">{{note.title}}</h4>
              <form *ngIf="note.isTitleEdit" (submit)="commitTitle(note, title.value)">
                <input #title type="text" value="{{note.title}}">
              </form>
      
              <p *ngIf="!note.isBodyEdit" (dblclick)="editBody(note)">{{note.body}}</p>
              <form *ngIf="note.isBodyEdit" (submit)="commitBody(note, body.value)">
                <textarea #body type="text" (keydown.enter)="commitBody(note, body.value)">{{note.body}}</textarea>
              </form>
          </div>
        </div>
    </div>
    <div class="column">
        <h1>Stop</h1>
        <button (click)="createNote(CONST.STOP)">Add</button>
        <div class="lane" dragula="DRAGULA_FACTS" [dragulaModel]="notes.stop">
          <div class="note" *ngFor="let note of notes.stop">
              <span class="vote-count">{{note.votes.length}}</span>
              <h4 *ngIf="!note.isTitleEdit" (dblclick)="editTitle(note)">{{note.title}}</h4>
              <form *ngIf="note.isTitleEdit" (submit)="commitTitle(note, title.value)">
                <input #title type="text" value="{{note.title}}">
              </form>
      
              <p *ngIf="!note.isBodyEdit" (dblclick)="editBody(note)">{{note.body}}</p>
              <form *ngIf="note.isBodyEdit" (submit)="commitBody(note, body.value)">
                <textarea #body type="text" (keydown.enter)="commitBody(note, body.value)">{{note.body}}</textarea>
              </form>
          </div>
        </div>
    </div>
    <div class="column">
      <h1>Continue</h1>
      <button (click)="createNote(CONST.CONTINUE)">Add</button>
      <div class="lane" dragula="DRAGULA_FACTS" [dragulaModel]="notes.continue">
        <div class="note" *ngFor="let note of notes.continue">
          <span class="vote-count">{{note.votes.length}}</span>
          <h4 *ngIf="!note.isTitleEdit" (dblclick)="editTitle(note)">{{note.title}}</h4>
          <form *ngIf="note.isTitleEdit" (submit)="commitTitle(note, title.value)">
            <input #title type="text" value="{{note.title}}">
          </form>

          <p *ngIf="!note.isBodyEdit" (dblclick)="editBody(note)">{{note.body}}</p>
          <form *ngIf="note.isBodyEdit" (submit)="commitBody(note, body.value)">
            <textarea #body type="text" (keydown.enter)="commitBody(note, body.value)">{{note.body}}</textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>